.blog-sect{
    position: relative;
    margin-top: 3rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background: url("../assets/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
    background-attachment: fixed;
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
}
