
.cont{
    margin-top: 3rem;
    height: 22rem;
    /* margin-bottom: 3rem; */
    display: flex; 
    justify-content: center;
    align-items: center;

    background: url("../assets/andrew-stutesman-l68Z6eF2peA-unsplash.jpg");
    background-attachment: fixed;
    background-blend-mode: color;
    background-size: cover;
  }
  .counter-container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
  }
  
  .counter {
    font-size: 60px;
    margin-top: 10px;
    font-weight: 700;
    color: var(--black);
  }
  
  .count-txt{
    color: var(--black);
    font-size: 17px;
  font-weight: 700;
  }

  @media (max-width: 580px) {
    body {
      flex-direction: column;
    }
  }
  