
.cont{
    margin-top: 3rem;
    height: 22rem;
    /* margin-bottom: 3rem; */
    display: flex; 
    justify-content: center;
    align-items: center;

    background: url("../assets/alex-boyd-HA0Rgl-ISko-unsplash.jpg");
    background-attachment: fixed;
    background-blend-mode: color;
    background-size: cover;
  }
  .counter-container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
  }
  
  .counter {
    font-family: "Limelight", sans-serif;
    font-weight: 500;
    color: var(--white);
    font-style: normal;
    font-size: 3.5rem;  
    text-align: center;
  }
  
  .count-txt{
    color: var(--white);
    font-size: 25px;
  font-weight: 600;
  }

  @media (max-width: 580px) {
    body {
      flex-direction: column;
    }
  }

   /* xs */
   @media screen and (max-width: 475px){
   }

    /* sm */
@media screen and (475px <= width <= 640px){
}

/* md */
@media screen and (640px <= width <= 768px){
}

/* lg */
@media screen and (768px <= width <= 1280px){
}
  