.banner-dest{
    /* margin-top: 3rem; */
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url("../assets/peter-conlan-LEgwEaBVGMo-unsplash.jpg");
    background-attachment: fixed;
    background-blend-mode: color;
    background-size: cover;
}

.dest-content{
    width: 100%;
    /* padding: 5px; */
}

.dest-container{
    margin-bottom: 3rem;
}

.dest_box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.dest_gallery{
    height: 350px;
}


