.banner-dest{
  position: relative;
  margin-top: 3rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../assets/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-attachment: fixed;
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
}

.dest-content{
    /* width: 100%; */
    text-align: center;
    line-height: 10px;
    margin-left: 4rem;
    margin-right: 4rem;
    /* padding: 5px; */
}

.destination-container{
    /* margin-bottom: 3rem; */
    width: 100%;
}

.dest_box{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.dest_gallery {
    position: relative;
    display: inline-block;
    height: 350px;
  }
  
  .dest_img {
    width: 100%;
    height: 100%;
  }
  
  .in-imgtxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .in-float-imgtxt {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 10px; 
    font-weight: 600;
    border-radius: 5px; 
    text-transform: capitalize;
    font-size: 28px;
  }
  

