.footer-container{
    background: var(--gray700);
    padding: 4rem;
    justify-content: center;
    align-items: center;
    /* margin-top: 3rem; */
}

.ft-top{
   display: grid;
   grid-template-columns: repeat(3, 350px);
   justify-content: center;
   gap: 3rem;
}

.ft-bottom{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    color: var(--white);
}

.li-ftlinks{
    list-style: none;
    color: var(--white);
    text-decoration: none;
}

.ul-ftlinks{
    padding: 0;
    color: var(--white);
}

.ftlinks{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--white);
}

.ft-txt{    
    color: var(--white);
}

.lt-side, .mid-side, .rt-side{
   padding: 1rem;
}

 /* xs */
 @media screen and (max-width: 475px){
    .footer-container{
        padding: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .ft-top{
        display: flex;
        flex-direction: column;
    }

    .sm-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding: 10px; */
        align-items: center;
    }
}

 /* sm */
@media screen and (475px <= width <= 768px){
    .footer-container{
        padding: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .ft-top{
        display: flex;
        flex-direction: column;
    }

    .sm-row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* padding: 10px; */
        align-items: center;
    }
}

/* md */
@media screen and (640px <= width <= 768px){
}

/* lg */
@media screen and (768px <= width <= 1280px){
    /* .footer-container{
        padding: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .ft-top{
        display: flex;
        flex-direction: column;
    } */
}

