.login-form {
  width: 320px;
  margin: 0 auto;
  padding: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.form-group {
  position: relative;
  margin-bottom: 1px; /* Adjusted spacing */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #ff6600;
}

input[type="text"]:focus + label,
input[type="password"]:focus + label,
input[type="text"]:valid + label,
input[type="password"]:valid + label {
  top: -8px;
  left: 10px;
  font-size: 12px;
  background-color: #fff;
  padding: 0 5px;
  color: #ff6600;
}

label {
  position: absolute;
  top: 12px;
  left: 8px;
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
}

.password-input {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
}

.forgot-password {
  text-align: right;
  margin-bottom: 5px; /* Adjusted spacing */
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.btn-continue {
  width: 100%;
  padding: 12px;
  background-color: #ff6600;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px; /* Adjusted spacing */
}

.signup-link {
  text-align: center;
  margin-bottom: 5px; /* Adjusted spacing */
  font-size: 14px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.separator {
  text-align: center;
  margin: 5px 0; /* Adjusted spacing */
  position: relative;
  font-size: 14px;
  color: #888;
}

.separator::before,
.separator::after {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 50%;
}

.separator::before {
  left: 0;
}

.separator::after {
  right: 0;
}

.social-login {
  text-align: center;
}

.btn-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  margin-bottom: 5px; /* Adjusted spacing */
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
}

.btn-social svg {
  margin-right: 8px;
}

.btn-social.google {
  color: #db4437;
  border-color: #db4437;
}

.btn-social.apple {
  color: #000;
  border-color: #000;
}

.btn-social.microsoft {
  color: #00a4ef;
  border-color: #00a4ef;
}
