.safari_container{
    /* background: yellow; */

}

/* .safari_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 10px;
} */

.safari_title{
    text-align: center;
}

.saf_gal{
    width: 25% auto;
    height: 350px;
    border-radius: 5px;
}

.img_gal{
    z-index: 1;
}

.gal-cont{
    background: yellow;
    z-index: 5;
    /* position: abso; */
}

