.hero-container{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.hero-cont{
    display: flex;
    flex-direction: row;
}

.hero-lt{
    padding-top: 9rem;
    
}

.hero_img{
    position: relative;
}

.float_div{
    background: url("../assets/Contour\ Line.svg");
    margin-top: 2rem;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.data_input{
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dt-inp{
    width: 300px;
    height: 35px;
    color: var(--white);
    font-weight: 600;
    border-color: var(--white);
    border-style:solid;
    border-width: 2px;
    background: transparent;
    text-indent: 5px;
}

.btn_hero{
    width: max-content;
    padding: 13px;
    font-weight: 600;
    font-size: 17px;
    color: var(--white);
    background: var(--orange500);
}