:root{
  font-family: 'Quicksand', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --orange600: #ea580c;
  --orange500: #f97316;
  --orange50: #fff7ed;
  --neutral200: #e5e5e5;
  --gray800: #1f2937;
  --gray700: #374151;
  --violet700: #6d28d9;  

}

.App{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
 }

body { 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-icon{
  font-size: 25px;
  color: var(--gray800);
}

.logo-title{
  font-size: 25px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  font-family: 'Bruno Ace', sans-serif;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

/* -------custom scrollbar----------- */
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb{
  background: var(--gray700);
  border-radius: 10px;
}


